<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <!--<gcServer enabled="true"/>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="twelvemonkeys_NorthDEM20" value="d:/viper/maps/lola/LDEM_80N_20M-2016-09-15.IMG" />
    <add key="twelvemonkeys_SouthDEM20" value="d:/viper/maps/lola/LDEM_80S_20M-2017-06-15.IMG" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="twelvemonkeys_TileRoot" value="D:/viper/tiles" />
    <add key="twelvemonkeys_MapRoot" value="D:/viper/tiles/np" />
    <add key="twelvemonkeys_HorizonsRoot" value="D:/viper/tiles/np/horizons" />
    <add key="twelvemonkeys_AvgPatchRoot" value="D:/viper/tiles/np/avg_patches" />
    <add key="twelvemonkeys_HavenPatchRoot" value="D:/viper/tiles/np/haven_patches" />
    <add key="twelvemonkeys_ExportRoot" value="D:/viper/tiles/np/haven_patches" />
    <add key="twelvemonkeys_TraverseDatasetRoot" value="d:/viper/maps/processed_20m/" />
    <add key="twelvemonkeys_LandingSiteDatasetRoot" value="d:/viper/tiles/sp/landing_site_datasets" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>